---
name: Nightly integration test environment cleanup
on:
  schedule:
    - cron: "0 23 * * *"

jobs:
  delete_outstanding_integration_environments:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: KengoTODA/actions-setup-docker-compose@main
        name: Set up Docker Compose
        with:
          version: '2.37.3'

      - name: Decrypt environment file
        run: docker-compose -f docker-compose.ci.yml run --rm decrypt-env
        env:
          ENV_PASSWORD: ${{ secrets.env_file_encryption_key }}
          ENV_FILE: ${{ secrets.env_file }}

      - name: Remove functions
        run: docker-compose -f docker-compose.deploy.yml run --rm serverless remove --stage develop

      - name: Remove infrastructure
        run: docker-compose-f docker-compose.deploy.yml run --rm terraform destroy
